
default_app/default_app.js
default_app/icon.png
default_app/index.html
default_app/main.js
default_app/octicon/book-24.svg
default_app/octicon/build.css
default_app/octicon/code-square-24.svg
default_app/octicon/gift-24.svg
default_app/octicon/mark-github-16.svg
default_app/octicon/star-fill-24.svg
default_app/package.json
default_app/preload.js
default_app/styles.css
devicestechlead/script/Electron
